<!DOCTYPE html>
		<html>
		<head>
			<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
			<meta content="utf-8" http-equiv="encoding">

			<title>kantipurjob.com | Jobs in Nepal | Recruitment | Post Job | Vacancies | Career Opportunities | Your Next Step</title>
			
			<meta name="description" content="Jobs in Nepal- www.kantipurjob.com is the continuously updated online job site in Nepal where you can post job, vacancies and requirements for free. Being an innovative human resource consulting company, we provide staffing service solutions, recruitment and selection process outsourcing, and call center management services. Job seekers can post their resume for free and explore career opportunities across Nepal." />
			<link rel="canonical" href="http://www.kantipurjob.com/"/>
			<meta name="keywords" content="Job portal, Jobs, Kantipur Job, Jobs in nepal, nepali job, jobs, Placement agency in nepal, training, banking training, largest job sites, no 1 job sites, banking jobs, banking job in nepal, accounting job,outsourcing company in Nepal, Ramro Job, Mero Job,Staff outsourcing, Staffing Services, NGO Jobs" />
			<script>var base_url =  "http://kantipurjob.com/";</script>
			<link href='http://kantipurjob.com/templates/kantipur/images/favicon.png' type='image/png' rel='SHORTCUT ICON' />
			<script type='text/javascript' src='http://kantipurjob.com/files/js/jquery.js'></script>
<script type='text/javascript' src='http://kantipurjob.com/files/js/jquery-ui.js'></script>
<script type='text/javascript' src='http://kantipurjob.com/files/js/jquery.plugin.js'></script>
<link rel='stylesheet' href="http://kantipurjob.com/files/css/ui-lightness/jquery-ui.css">
<script type='text/javascript' src='http://kantipurjob.com/files/js/jquery.form.min.js'></script>
<link rel='stylesheet' href="http://kantipurjob.com/files/css/../../templates/kantipur/css/style.css">
<link rel='stylesheet' href="http://kantipurjob.com/files/css/../../templates/kantipur/css/common.css">
<script type='text/javascript' src='http://kantipurjob.com/files/js/../../templates/kantipur/js/script.js'></script>
<script type='text/javascript' src='http://kantipurjob.com/files/js/../../templates/kantipur/js/common.js'></script>
<script type='text/javascript' src='http://kantipurjob.com/files/js/../../templates/kantipur/js/jquery.tabs.js'></script>
<script type='text/javascript' src='http://kantipurjob.com/files/js/../../templates/kantipur/js/jquery.history_remote.pack.js'></script>
<link rel='stylesheet' href="http://kantipurjob.com/files/css/../../templates/kantipur/css/jquery.tabs.css">

			<style type="text/css">
	#elapsed{ position:fixed;left:0;top:300px;font:bold 14px Arial;color:#fff;background:blue;padding:20px 10px;display:none;}
			</style>
			
		</head>
		<body id="top">
			<!-- Site main -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<!--tab script-->

<script type="text/javascript" src="http://kantipurjob.com/templates/kantipur/js/fancybox/jquery.fancybox-1.2.1.pack.js"></script>
<script type="text/javascript" src="http://kantipurjob.com/templates/kantipur/../../files/validation/jquery.validate.js"></script>
<script type="text/javascript" src="http://kantipurjob.com/templates/kantipur/js/slimScroll/prettify.js"></script>
<script type="text/javascript" src="http://kantipurjob.com/templates/kantipur/js/slimScroll/jquery.slimscroll.js"></script>
<link href="http://kantipurjob.com/templates/kantipur/js/slimScroll/style.css" type="text/css" rel="stylesheet" />
<link href="http://kantipurjob.com/templates/kantipur/js/slimScroll/prettify.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="http://kantipurjob.com/templates/kantipur/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<link href="http://kantipurjob.com/templates/kantipur/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="http://kantipurjob.com/templates/kantipur/bootstrap/css/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
<!--tab script end-->
<div id="topDropdownBar" class="topDropdownBar">
<div class="topdown_wrapper">
<div class="logo_wrapper_bar"><a href="http://kantipurjob.com/"><img src="http://kantipurjob.com/templates/kantipur/images/white_logo.png" border="0" style="margin-top:5px;" /></a></div>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
<a class="addthis_button_linkedin_counter"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-524e9ab026671974"></script>
<!-- AddThis Button END -->    
<style>
.addthis_toolbox.addthis_default_style{
padding-top:20px;	
}
</style>           

</div><!--topdown_wrapper-->
</div><!--topDropdownBar-->
<div id="loading"><img src="http://kantipurjob.com/templates/kantipur/images/loading.gif" border="0" /></div>


<div class="top_bar_wrapper">
    <script>
$(".top_bar_wrapper").css({"position":"Fixed","top":0,"width":"100%"});
</script>
<div class="page_container_topblack">
	<div class="social_link">
		<ul>
			<li><a href="https://www.facebook.com/Kantipurjobcom" target="_blank"><img src="http://kantipurjob.com/templates/kantipur/images/facebook.png" /></a></li>
			<li><a href="https://twitter.com/KantipurJOB" target="_blank"><img src="http://kantipurjob.com/templates/kantipur/images/twitter.png" /></a></li>
			<li><a href="https://www.linkedin.com/company/kantipurjob-com" target="_blank"><img src="http://kantipurjob.com/templates/kantipur/images/linkedin.png" /></a></li>
			<li><a href="https://plus.google.com/115490939233340021530" target="_blank"><img src="http://kantipurjob.com/templates/kantipur/images/googleplus.png" /></a></li>
			<li><a href="mailto:info@kantipurjob.com" target="_blank"><img src="http://kantipurjob.com/templates/kantipur/images/email.png" /></a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="top_link">
				<div class="top_top_login">
<script type="text/javascript">
			$(function(){
				$("a#triggerSubmit").click(function(){ 
				  $("#toploginfrm").trigger("submit"); return false; });
				  //$("#toploginfrm").validate();
			});
			
			
			
			function checkLogin()
			{   
			   if($("#login_username").val()==""){ alert('Please enter email address');$("#login_username").focus();return false;}
				 if($("#login_password").val()==""){ alert('Please enter password');$("#login_password").focus();return false;}
				var params =  $("#toploginfrm").serialize();
				
				jQuery.support.cors = true; 
				 $.ajax({
					type: "POST", 
					url: "http://kantipurjob.com/ajaxs/checkLogin",
					data: params,
					dataType: "json",
					success: function(data) {
						var msg = eval(data)
					    if(msg.success=="true"){ 
						  window.location.href=msg.redirect;	
						}else{ 
							if(msg.status=='')
							{  //alert('Invalid Username and Password');
						      jQuery('a.current.notLoggedIn').trigger('click');
						      jQuery('#some_error2').html('Invalid Username and Password');
							  //setCookie("login_error_message",'Invalid Username and Password',3600000);
							}
							else{
								alert('Please check your email for verification');
							//setCookie("login_error_message",'Please check your email for verification',3600000);
							}
							//window.location.href='http://kantipurjob.com/seeker/1/Member_Login';
						  }					
						},
					error: function (jqXHR, textStatus, errorThrown) {
						alert('Please enter valid username or password');
						window.location.href=window.location.href;
						//alert(jqXHR);
						//alert(textStatus);
						//alert(errorThrown);
						}
					});
				 return false;   
			   }
			  
			  
			 function checkLoginPopUp()
			{  	var params =  $("#popUploginfrm").serialize(); 
				 $.post('http://kantipurjob.com/ajaxs/checkLogin',params,function(msg){
					    if(msg.success=="true"){
						window.location.href=msg.redirect;	
						}else{
							if(msg.status=='')
							{ setCookie("login_error_message",'Invalid Username and Password',3600000);
							}
							else{
							setCookie("login_error_message",'Please check your email for verification',3600000);
							}
							window.location.href='http://kantipurjob.com/seeker/1/Member_Login';
						}
					 },'json');
				 return false;   
			   }  
            
		</script>
</form>		
<form action="http://kantipurjob.com/login" method="post" accept-charset="utf-8" id="toploginfrm" onsubmit="return checkLogin();"><div class="top_login_wrapper">
	<div class="login_field_wrapper">
		<input type="text" name="login_username" id="login_username" value="" placeholder="Email Address" class="login_input required email" maxlength="80" title="Email Address" >
		<input type="password" name="login_password" id="login_password" value="" class="login_input required" placeholder="Password" maxlength="80" title="Password" >
		<input type="hidden" name="fromJs" id="fromJs" value="1" />
	</div>
	<div class="login_button">
		<input type="submit" name="loginfrmsubmit" value="Login" class="button" />	</div>
	<div class="clear"></div>
</div>
</form>	
		</div>
		<ul class="ul_two" style="display:none;">
			<li class="welcome_bar">Welcome to <span>www.kantipurjob.com</span></li>
			<li class="inlog"><a  href="http://kantipurjob.com/">Login</a></li>
			<li><a  href="http://kantipurjob.com/"> Sign Up</a></li>
			<li><a href="article/5/faqs">FAQ</a></li>
		</ul>
			</div>
	<div class="clear"></div>
</div>

  </div>

<!--banner large end-->
<div class="banner_large_home">
    <div class="banner_wrapper">
      <div class="banner_left">
        <div class="logo_wrapper"><a href="http://kantipurjob.com/"><img src="http://kantipurjob.com/templates/kantipur/images/logo.png" border="0" /></a></div>
      </div>
      <div class="banner_right">
        <div class="nav_menu" id="yourID">
          
<span class="preload1"></span> <span class="preload2"></span>


<!--<div class="nav_menu" >-->
  <div class="container_m">
      <div id="nav-trigger"> <span><img style=" width:25px;" src="http://kantipurjob.com/templates/kantipur/images/menu_img.png"/></span> </div>
      <nav id="nav-main">
	<ul>
    <li><a href="http://kantipurjob.com/" class="" >Home</a></li>

     <li><a href="http://kantipurjob.com/article/1/about-us" class=""  >About Us</a></li>

      <li><a href="http://kantipurjob.com/services" class="">Our Services</a></li>

       <li><a href="http://kantipurjob.com/training" class="">Training</a></li>

       <li><a href="http://kantipurjob.com/career" class="">Career Resources</a></li>




    </ul></nav><nav id="nav-mobile"></nav>
</div>
    <div class="clear"></div>



<!--</div>-->





<div class="pop_up_post" ><a href="#"><img src="http://kantipurjob.com/templates/kantipur/images/gulf.png" /></a></div>

<div class="clear"></div>

<input class="signup" type="hidden" id="loginstatus" name="loginstatus" value="0" /> <div id="divforlogin"></div>	

        </div>
        
        <!--menu quick wrapper end--> 
        
      </div>
      <div class="clear"></div>
    </div>
  </div> 


<div id="landbody">
  <div class="page_container">   <style>#home_page_search{ height:47px; }
  /*#home_page_search select{ width:159px; margin-right:5px; background:#FAEEC8; border: 1px solid #E2D5B2; border-radius:5px; }*/
   #home_page_search input{ width:145px;}
   /*.inner_title_search{ width:102px;float:left; margin-top:1px;}*/
   .right_search{padding-top:8px; width:1200px; }
   .right_search select{width:220.6px; }
   @media screen and (-webkit-min-device-pixel-ratio:0)
{ .right_search{ padding-top:9px; }  .home_sub{ margin-top:3px; }
 
 }
   .home_sub{margin:0; padding:0; border:0; width:76px; float:right; margin-top:-1px; cursor:pointer; background:none; cursor:pointer;}
   .home_sub:hover {opacity:0.8}
   
   
 </style>
  <div id="home_page_search">
  <!-- <div class="inner_title_search"><span class="job_search_txt">Job Search</span><img src="http://kantipurjob.com/templates/kantipur/images/search.png" border="0" /></div> -->
  <div class="right_search">  
    </form>
    	<form action="http://kantipurjob.com/search_job" method="post" id="searchforms"  class="search_form_menu">
	  <select name="job_category_id" id="job_category_id" class="span2 required">
<optgroup label="Category">
<option value="" selected="selected">Jobs Category</option>
<option value="67">Accounting / Finance</option>
<option value="68">Administration/General Mgmt/Operations</option>
<option value="69">Agriculture / Livestock</option>
<option value="70">Architecture / Interior Designing</option>
<option value="71">Automotive / Automobiles / Mechanical</option>
<option value="72">Banking / Insurance / Financial Service</option>
<option value="73">Call Center / Data Entry / Customer Service</option>
<option value="74">Commercial / Logistics / Supply Chain</option>
<option value="75">Computer - Creative / Graphic Design</option>
<option value="76">Computer - Hardware / Network</option>
<option value="77">Computer - Internet sales / Marketing </option>
<option value="78">Computer - Multimedia Programming </option>
<option value="79">Computer - Technology/Management </option>
<option value="80">Computer - Web Development </option>
<option value="81">Computer - WebDesigning & Programming</option>
<option value="82">Construction / Engineering / Architects</option>
<option value="83">Consulting & Professional Services</option>
<option value="153">Engineering</option>
<option value="84">Environment and Natural Resource</option>
<option value="85">Fashion / Textile Designing</option>
<option value="86">Healthcare / Pharma / Biotech / Medical</option>
<option value="88">Human Resource /Org. Development</option>
<option value="89">Internship / Research</option>
<option value="90">IT & Telecommunication</option>
<option value="91">Journalism / Editor / Media</option>
<option value="92">Legal Services / Advisor</option>
<option value="93">Marketing / Advertising</option>
<option value="94">Medical / Nursing </option>
<option value="95">Mobile App Development</option>
<option value="96">NGO / INGO / Social work</option>
<option value="97">Others</option>
<option value="98">Production / Maintenance / Quality</option>
<option value="99">Programming / Software Development</option>
<option value="100">Protective / Security Services</option>
<option value="101">Research and Development</option>
<option value="102">Sales / Public Relations</option>
<option value="103">Secretarial / Front Office</option>
<option value="104">Teaching / Education / Counselling</option>
<option value="87">Tourism/ Hospitality / Guest Relation</option>
<option value="105">Training / Survey / Content writer</option>
</optgroup>
</select>  <select name="job_level_id" id="job_level_id" class="span2 required">
<optgroup label="Job Level">
<option value="" selected="selected">Level</option>
<option value="1">Entry Level</option>
<option value="2">Mid Level</option>
<option value="3">Senior Level</option>
</optgroup>
</select>   <select name="job_location_id" id="job_location_id" class="span2 required">
<optgroup label="Job Location">
<option value="" selected="selected">Location</option>
<option value="91">Achham</option>
<option value="92">Arghakhanchi</option>
<option value="93">Baglung</option>
<option value="94">Baitadi</option>
<option value="95">Bajhang</option>
<option value="96">Bajura</option>
<option value="200">Banepa</option>
<option value="97">Banke</option>
<option value="98">Bara</option>
<option value="99">Bardiya</option>
<option value="198">Barhabise</option>
<option value="100">Beni</option>
<option value="101">Bhairahawa</option>
<option value="203">Bhaisepati</option>
<option value="196">Bhaktapur</option>
<option value="102">Bharatpur</option>
<option value="103">Bhojpur</option>
<option value="104">Biratnagar</option>
<option value="105">Birgunj</option>
<option value="107">Birtamod</option>
<option value="108">Butwal</option>
<option value="109">Chitwan</option>
<option value="110">Dadeldhura</option>
<option value="111">Dailekh</option>
<option value="112">Damak</option>
<option value="202">Damauli</option>
<option value="194">Dang</option>
<option value="114">Darchula</option>
<option value="115">Dhading</option>
<option value="116">Dhangadhi</option>
<option value="117">Dhankuta</option>
<option value="118">Dhanusa</option>
<option value="119">Dharan</option>
<option value="120">Dolakha</option>
<option value="121">Dolpa</option>
<option value="122">Doti</option>
<option value="201">Field Based</option>
<option value="123">Ghorahi</option>
<option value="124">Gorkha</option>
<option value="125">Gulmi</option>
<option value="126">Hetauda</option>
<option value="127">Humla</option>
<option value="128">Ilam</option>
<option value="129">Ithari</option>
<option value="130">Jajarkot</option>
<option value="132">Janakpur</option>
<option value="133">Jhapa</option>
<option value="134">Jumla</option>
<option value="135">Kailali</option>
<option value="136">Kalikot</option>
<option value="137">Kanchanpur</option>
<option value="138">Kapilvastu</option>
<option value="139">Kaski</option>
<option value="140">Kathmandu</option>
<option value="199">kavre</option>
<option value="141">Kavrepalanchok</option>
<option value="142">Khotang</option>
<option value="143">Koholpur</option>
<option value="144">Lahan</option>
<option value="145">Lalitpur</option>
<option value="146">Lamjung</option>
<option value="147">Lumbini</option>
<option value="197">Maharajgunj, Kathmandu</option>
<option value="148">Mahendranagar</option>
<option value="149">Mahottari</option>
<option value="150">Makwanpur</option>
<option value="151">Manang</option>
<option value="152">Morang</option>
<option value="153">Mugu</option>
<option value="154">Mustang</option>
<option value="155">Myagdi</option>
<option value="156">Narayangadh</option>
<option value="157">Nawalparasi</option>
<option value="158">Nepalgunj</option>
<option value="159">Nuwakot</option>
<option value="160">Okhaldhunga</option>
<option value="193">Other</option>
<option value="195">Outside Valley</option>
<option value="161">Palpa</option>
<option value="162">Panchthar</option>
<option value="163">Parbat</option>
<option value="164">Parsa</option>
<option value="165">Pokhara</option>
<option value="166">Pyuthan</option>
<option value="167">Rajbiraj</option>
<option value="168">Ramechhap</option>
<option value="169">Rasuwa</option>
<option value="170">Rautahat</option>
<option value="171">Rolpa</option>
<option value="172">Rukum</option>
<option value="173">Rupandehi</option>
<option value="174">Salyan</option>
<option value="175">Sankhuwasabha</option>
<option value="176">Saptari</option>
<option value="177">Sarlahi</option>
<option value="178">Sindhuli</option>
<option value="179">Sindhupalchok</option>
<option value="180">Siraha</option>
<option value="181">Solukhumbu</option>
<option value="182">Sunsari</option>
<option value="183">Surkhet</option>
<option value="184">Syangja</option>
<option value="185">Tanahu</option>
<option value="186">Taplejung</option>
<option value="187">Terhathum</option>
<option value="188">Tikapur</option>
<option value="189">Tulsipur</option>
<option value="190">Udayapur</option>
</optgroup>
</select>     <select name="experience_id" id="experience_id" class="span2 required">
<optgroup label="Experience">
<option value="" selected="selected">Experience</option>
<option value="1">1 years</option>
<option value="2">2 years</option>
<option value="3">3 years</option>
<option value="4">4 years</option>
<option value="5">5 years</option>
<option value="6">6 years</option>
<option value="7">7 years</option>
<option value="8">8 years</option>
<option value="9">9 years</option>
<option value="10">10 years</option>
<option value="11">11 years</option>
<option value="12">12 years</option>
<option value="13">13 years</option>
<option value="14">14 years</option>
<option value="15">15 years</option>
<option value="16">16 years</option>
<option value="17">17 years</option>
<option value="18">18 years</option>
<option value="19">19 years</option>
<option value="20">20+ years</option>
</optgroup>
</select>  <select name="salary_id" id="salary_id" class="span2 required">
<optgroup label="Salary">
<option value="" selected="selected">Salary</option>
<option value="10000">Rs. 10000+</option>
<option value="20000">Rs. 20000+</option>
<option value="30000">Rs. 30000+</option>
<option value="40000">Rs. 40000+</option>
<option value="50000">Rs. 50000+</option>
<option value="60000">Rs. 60000+</option>
<option value="70000">Rs. 70000+</option>
<option value="80000">Rs. 80000+</option>
<option value="90000">Rs. 90000+</option>
<option value="100000">Rs. 100000+</option>
<option value="100000+">Rs. 100000+</option>
</optgroup>
</select>             
<input type="submit" name="mysubmit" value="." class='search_icons span1' />    
  </form>
  </div>
<!--  <div style="clear:both;"></div>-->
</div>
<link rel='stylesheet' href="http://kantipurjob.com/files/css/jquery.dataTables.css">
<script type='text/javascript' src='http://kantipurjob.com/files/js/jquery.dataTables.js'></script>
 </div>
</div>

<!-- END landingdiv -->


<div id="top">
	<div class="page_container_large">
		<div class="page_container"> 
			
			<!--menu quick wrapper end-->
			<div class="page_container_inner">
				<div class="content_wrapper">
							<div class="inner_content"><div class="error_page" align="center">
<img src="http://kantipurjob.com/templates/kantipur/images/404_error.jpg" />
</div>
</div>		
					<div class="clear"></div>
				</div>
				<!--content wrapper end--> 
			</div>
		</div>
		<!--page container end--> 
	</div>
	<!-- END MAIN BODY SECTION --> 
</div>
<div id="bottom">
<div class="footer_block_wrapper">
	<div class="footer_block">
		<div class="footer_left">		
				<div class="footer_menus"><a href="http://kantipurjob.com/services#job_seeker_service"  title="Job Seeker Section">Job Seeker Section</a></div>
				<div class="footer_menus"><a href="http://kantipurjob.com/services#employer_service"  title="Employer Section">Employer Section</a></div>

				<div class="footer_menus">
										<a href="http://kantipurjob.com//article/21/Term-of-Use" title="Term of Use">Term of Use</a>
								</div>
			<!--block3 end-->
				<div class="footer_menus">
										<a href="http://kantipurjob.com//article/22/Privacy-Policy" title="Privacy Policy">Privacy Policy</a>
					
			</div>
		
				
			<!--block4 end-->
				<div class="footer_menus">
										<a href="http://kantipurjob.com//article/24/Contact-Us" title="Contact Us">Contact Us</a>
									</div>
			<!--block4 end-->
				<div class="footer_menus">
								</div>
			<!--block4 end--> 
		</div>
		<!--footer left end--> 
	</div>
	<!--footer block end--> 
</div>
<!--footer_block_wrapper end-->

	<div class="footer_large_wrapper">
		<div class="footer_wrapper">
			<div class="copyright">Copyright@2016 Kantipur Management.All Rights Reserved.</span> Kantipur Management Private Limited. Naxal-1, Nagpokhari, Kathmandu, Nepal. Phone: 00977 1 4435619, 4435620 Email: <a href="mailto:info@kantipurjob.com">info@kantipurjob.com</a></div>
	<div class="feedback"><a class="inline cboxElement"  href="#inline_content">Drop your  valuable feedback</a></div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- END FOOTER SECTION --> 
</div>
<div id="uipopupboxlink"></div>
<div id="uipopupbox"></div>
<!----------------------Menu------------------------>

<link rel="stylesheet" href="http://kantipurjob.com/templates/kantipur/menu/css/style.css" />

<!-- js -->

<script>
    $(document).ready(function(){
        $("#nav-mobile").html($("#nav-main").html());
        $("#nav-trigger span").click(function(){
            if ($("nav#nav-mobile ul").hasClass("expanded")) {
                $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
                $(this).removeClass("open");
            } else {
                $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
                $(this).addClass("open");
            }
        });
    });
</script>
<!----------------------Menu End------------------------>
			<div id="temp-data"></div>
			<div id="elapsed">TOTAL TIME : 0.0843</div>
		</body>
		</html>
		