@charset "utf-8";
/* CSS Document */

body{
overflow-x: hidden !important;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensansregular-webfont.eot');
    src: url('../fonts/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansregular-webfont.woff') format('woff'),
         url('../fonts/opensansregular-webfont.ttf') format('truetype'),
         url('../fonts/opensansregular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans_light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'crete_roundregular';
    src: url('../fonts/creteround-regular-webfont.eot');
    src: url('../fonts/creteround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/creteround-regular-webfont.woff2') format('woff2'),
         url('../fonts/creteround-regular-webfont.woff') format('woff'),
         url('../fonts/creteround-regular-webfont.ttf') format('truetype'),
         url('../fonts/creteround-regular-webfont.svg#crete_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{ padding:0; margin:0; font-size:14px; font-family:OpenSansRegular; color:#fff;}
.fl{ float:left;}
.fr{ float:right;}
a{ text-decoration:none;}
a:hover{ text-decoration:none; transition: all 0.3s ease 0s;  opacity: 0.75; outline:none !important; text-decoration:none !important;}
a:active{ text-decoration:none; outline:none !important; text-decoration:none !important;}
a:hover, a:focus{ text-decoration:none !important; outline:none !important;}

.clear{ clear:both;}
.big{font-family:open_sansbold;}
.text_center{ text-align:center;}
.mrgt20{ margin-top:20px;}
.hidden_block,.hidden_block_in{display: none;}
#topcontrol {
    background: #222 none repeat scroll 0 0;
    border-radius: 3px !important;
    bottom: 20px !important;
    color: #fff;
    font-size: 20px;
    height: 30px;
    position: relative;
    right: 14px !important;
    width: 30px;
    z-index: 99;
}
#topcontrol::after {
    content: "";
    font-family: FontAwesome;
    left: 8.5px;
    position: absolute;
    text-align: center;
    top: -2px;
}
label.error{color: #f00;font-size: 12px;}
.progress-bar-primary {background-color: #C6C6C6;}
.progress-bar{ text-align: right;}
.progress{margin-bottom: 15px !important;}
/*header*/
.header{ padding:17px 0;}
.jobs{ margin-left:15px;}
.jobs a{ padding:7px 12px 5px 12px ; border-radius:5px; background:#FF8800; color:#fff; display: inline-block; box-shadow:0 3px #C26903; font-family:open_sansbold; }
.jobs a:hover{ transition: all 0.3s ease 0s;  opacity: 0.85;}
.jobs .fa{ font-size:13px; margin-right: 5px;} 

.top_logins .jobs a{ padding:7px 12px 5px 12px ; border-radius:5px; background:#FF8800; color:#fff; display: inline-block; box-shadow:0 3px #C26903; font-family:open_sansbold;     font-size: 14px;}
.top_logins .jobs a:hover{ transition: all 0.3s ease 0s;  opacity: 0.85; color:#fff;}
.top_logins .jobs .fa{ font-size:13px; margin-right: 5px;} 
.top_logins .jobs{ margin-top:-8px;}



.border_orange{ border-bottom:2px solid #F47845;}
.top_logins{ border-left: 1px solid #363636;top: 8px;padding-left: 15px;position: relative; }
.top_logins a{ color: #363636;font-size: 13px;padding: 2px 8px;display: inline-block; font-family:open_sanssemibold;}
.top_logins a:hover{ transition: all 0.3s ease 0s;  opacity: 0.85; color:#1A98D3;}
.welcome { margin-right: 25px;font-size: 13px;margin-top: 8px; color:#313131;}
.welcome a{ font-family:open_sanssemibold;}
.header_right{ margin-top:15px; padding-left:0; padding-right:0;}
.header_mid{margin-top:24px; padding-right:0; text-align: right; }
.ui-widget-content{background: none;border-radius:  0px;}
.ui_button_close{position: absolute;top:0;right: 5px;}
.orange {color: rgb(252, 96, 27);}
.blue,.exemple span { color: #0088cc;}

/*header*/

.popup_logo{text-align: center;
    padding: 10px 0;
    background: #F7F7F7;
    margin-top: 9px;}

   .login_form_div {padding: 15px 0;}

   .input_wrapper{
    padding: 5px 0;
    text-align: center;
}

.pupbuttons{text-align: center;}
.remember_me a{font-size:1.2rem;display:inline-block;}
.remember_me{text-align: center;padding:10px 0;}
.term_of_use{border-left:1px solid #f4f4f4;}
.login_class, .regiter_class{border-radius:4px; background:blue;color:white;padding:4px 26px ;border:0;}

#login_username2, #login_password2{padding: 5px 6px;
    border-radius: 3px;
    border:0;

    border: 1px solid #1B98D2}

/*section1*/
.section1{ background:url(../images/slider.jpg) #231B18; height:315px;}
.menu_main{ background:rgba(49, 49, 49, 0.7); height:66px;}
/*Added this new section*/
.section_new{ background:url(../images/training_kage.jpg) #231B18; height:580px}
.search_home{}
.search_div{ background:#b6b6b6; padding:4px; height: 50px; }
.search_div input{ padding: 13px 10px 12px 10px;font-size: 12px; width:100%; margin:0; color: #9C9C9C; border: 0;}
.search_div select{ padding: 13px 10px 12px 10px;font-size: 12px;width: 100%;margin: 0;border: 0;/*margin-top: 1px;*/ 
    color: #9C9C9C;     background: #fff; margin-left: 1px; height: 42px;}
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.search_div select  { padding: 13px 10px 13px 10px; }
}
.search_div button{     padding: 9px 10px 8px 10px;
    width: 96%;
    margin: 0;
    border: 0;
    font-size: 18px;
    background: #1a98d3;
    color: #fff;
    font-family: open_sans_light;}
.search_div button:hover{transition: all 0.3s ease 0s;  opacity: 0.85; background:#1789BF; }
.search_div .nowork{ margin:0; padding:0;}
.search_div .nowork_2{ padding-right:0;}
.search_div .nowork3{ padding-right:11px;}
.search_top{ font-size:30px; color:#fff; letter-spacing: 0.3px; margin-top: 50px; text-align:center;}
.small{font-family:open_sanssemibold; font-size:15.5px !important;}
/*section1*/

/*kjblock*/
.kjblock{ background:#313131; padding:20px 0; font-family:crete_roundregular; color:#fff; font-size:24px; margin-bottom:45px;}
a.normal_btn{  border:2px solid #fff; border-radius:3px; font-family:open_sansbold; font-size:14px; color:#fff; padding:12px 30px; display:inline-block; line-height: 20px;}
a.normal_btn:hover{ background:#4B4B4B; opacity:1;}
.kjblock span{ top: 7px;position: relative;}

.main_title{ font-size:30px; color:#313131; margin-bottom:25px;}
.main_title span{ color:#F2652A; font-family:open_sanssemibold;}
.jobs_list li{ list-style:none; margin-bottom: 9px; }
.jobs_list li span{ color:#f2652a;}
.jobs_list li a{ color: #7A7A7A;font-size: 12px;font-family: open_sanssemibold;}
.panel-container ul{ padding-left:0;}

.whoweare_wrapper{ background:url(../images/welcome.jpg); padding:55px 0; /*margin-top:45px;*/ margin-bottom:20px;}
.mwhite{ color:#fff;}
.welcome_txt{ width:80%; margin:auto; text-align:center; line-height:28px;}
.welcome_txt span{ font-style:italic; font-family:open_sanssemibold; display:block; }

.getmore_title{ font-size:18px; }
.getmore .col-md-3{ position:relative; margin-top: 10px;     min-height: 251px;}
.getmore .col-md-3 .getmore_block{ position:absolute; bottom:15px; padding-left:15px; padding-right: 30px; font-size:13px;   }
.getmore_title{ color:#1796d1; margin: 0px 0 10px 0; font-family:open_sanssemibold; text-transform:uppercase;}

a.gray_btn{ background: #BCBBBB;padding: 5px 10px 4px 10px;font-size: 12px;font-style: italic;color: #000; display: block;width: 115px; }
a.gray_btn:hover{ background: #D1D1D1; opacity:1; }

.threeblocks{ padding:40px 0px; background: #E9E9E9}
.signup{ background:url(../images/signup.jpg) #DE5535; padding:30px 20px ; min-height:449px;}
.white_title{ font-size:24px;}
.white_title span{ font-size:28px; font-family:open_sansbold;}
.signup .input_form{ width: 100%;background: rgba(255, 255, 255, 0.87);border: 0;padding: 10px 10px 10px;margin-bottom: 16px; color:#333;}
.signup .selecter_form { width: 100%;background: rgba(255, 255, 255, 0.87);border: 0;padding: 12px 10px;margin-bottom: 12px; color:#A9A9AA; }
.check{ font-size:11.5px;}	
.check input{ position:relative; top:2px; outline:none;}


.white_btn{ background: #fff;border: 0;padding: 10px 30px;color: #f2652a;margin-top: 17px;} 
.white_btn:hover{ text-decoration:none; transition: all 0.3s ease 0s;  opacity: 0.8;} 
.block2 .white_title{ margin-bottom:20px;}
.viewall{ float: right;margin-top: 15px;font-family: monospace;font-size: 13px;color: #fff;}
.viewall:hover{ color: #fff;}

.block2{ background:url(../images/black_texture.png) #2F2F2F; padding:30px 20px 5px 20px; min-height:449px; }
.mister{
  background: #FFF none repeat scroll 0% 0%;
  padding: 36px 28px;
}
ul.news{ padding:0; }
.news li { list-style:none; color:#c2c2c2; font-size:13px; border-bottom:1px solid #717171; padding-bottom:15px; margin-bottom:15px;}
.news li a{ font-family:open_sansbold; display:block; margin-bottom:10px; color:#fff; font-size: 14px; }
.news li a:hover{ color:#fff; opacity:0.7; }
.news li:last-child{ padding-bottom:0px; margin-bottom:0px; border-bottom:0;}

.ziprectuite_block{ background:url(../images/image.jpg) no-repeat #313234; min-height:222px; /*margin-top:50px; */text-align:center; font-size:30px; font-family:OpenSansRegular; padding-top:45px; padding-bottom:35px; background-size:contain ; margin-bottom:45px; }
.ziprectuite_block span{ color:#F2652A; }

/*Styles added Buddha man Nepali*/
.success_rate_block{ background:url(../images/highway.jpg) no-repeat #313234; min-height:301px; /*margin-top:50px; */text-align:center; font-size:30px; font-family:OpenSansRegular; padding-top:45px; padding-bottom:35px; background-size:contain ; margin-bottom:45px; }
.success_rate_block span{ color:#F2652A; }

.number_high{
  font-size: 128px;
  font-weight: 600;
  color: #92C94A;
  font-family: OpenSansRegular;
  margin-top: -16px;
  max-height: 148px;
}

.number_high sup{
  font-size: 47px;
  font-weight: 100;
  margin-left: -32px;
}

.caption{
  color:white;
  font-weight:100;
  font-size: 17px;
  font-family:OpenSansRegular;
}

.highlighted-box{
  background:#F2652A;
  border-left:2px solid white;
  border-right:2px solid white;
  color:white;
}

.happy_customers_block{
  background:#1A98D3;
}

.get-padding1{
  padding:15px 10px;
  line-height:20px;
}

.get-padding2{
  padding:30px 10px 30px 30px;
  text-align: justify;
}

.haha-remove{
  font-weight: 600;
  font-size: 40px;
  padding-top:5px;
}

.orange{
  color: rgb(252, 96, 27);
}

.services_block .tab-content{
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus{
  border-top:3px solid #1A98D3;
}

.nav-tabs.nav-justified > li{
  background: #EAEAEA;
}

.services_block .feature-box-icon{
  color:#1A98D3;
  padding-top:5px;
  font-size: 35px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.services_block .feature-box-info{
  font-size:14px;
  color:black;
  font-family:"Open Sans",Arial;
}

.services_block .feature-box-info h5{
  text-transform:uppercase;
  font-weight: 600;
  font-size: 13px;
}

.did-you-know{
  height:211px;
}

.bs{
  font-size:35px !important;
}

/*Responsive styles*/
/* Portrait phones and smaller */
@media (max-width: 480px) {
	
    .new_search_block{
    height:263px !important;
  }

  .responsive-gutter{
    margin:0px !important;
    padding:0px !important;
  }

  .responsive-gutter-footer{
    margin-top:20px !important;
  }

  .section_new{ background:#231B18; height:800px !important; padding:20px 0px; }

 .bs{
    font-size:20px !important;
  }

  .welcome{display:none !important;}

  .remove-on-responsive{
    display:none;
  }

  .ziprectuite_block{ background:#313234;margin-top:0 !important;}
  .success_rate_block{ background:#313234;}

  .get-padding2{
    padding:30px 20px 30px 20px;
    text-align: justify;
  }

  .jobvacencies{margin:0 !important;}
  .did-you-know{
    margin-top:5px;
    height:150px;
  }

  .center-hard{
    text-align: center;
  }

  .footer_link_wrapper{ margin-bottom:0 !important;}
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .remove-on-responsive-ipad{
    display:none;
  }

  .signup{min-height:480px !important;}

  .block2{min-height:480px;}

  .success_rate_block{background:#313234;}

  .did-you-know{
    margin-top:20px;
  }

  .number_high sup{
    font-size:20px;
    margin-left:-30px;
  }
}


/*End of styles added by Buddha Man Nepli*/
/*listing blocks*/
.listing_blocks_title{ font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: open_sanssemibold;
    padding: 10px 15px;
    background: rgba(33, 32, 32, 0.8);
    margin-bottom: -44px;
    z-index: 5;
    position: relative;}
.listing_blocks{ padding:0; margin:0; border:1px solid #dedede;}
.listing_blocks li { list-style:none; color:#737373; font-size:13px; border-bottom:1px solid #dedede; padding: 15px; height: 124px;
    overflow: hidden;}
.listing_blocks li a{ font-family:open_sansbold; display:block; margin-bottom:10px; color:#666666; font-size: 14px;      font-weight: bold;}
.listing_blocks li a:hover{ color:#666666; opacity:0.7; }
.listing_blocks li:last-child{ border-bottom:0;}

.blue_btn{ background: #0188CC;border: 0;padding: 10px 30px;color: #FFFFFF;margin-top: 25px;}
.blue_btn:hover{ color:#fff;}

.jobvacencies{ background:#F6F6F6; border-top:1px solid #C3C3C3; /*margin-top:50px;*/ padding: 30px 0; font-family: OpenSansRegular; font-size: 24px;}
.services_linker{ /*background:#F6F6F6; border-top:1px solid #C3C3C3; *//*margin-top:50px;*/ padding: 30px 0; font-family: OpenSansRegular; font-size: 24px;}

.jobvacencies span {top: 7px;position: relative; color:#525151;}
.orange_btn{ border-radius: 3px;font-family: open_sansbold;font-size: 14px;color: #fff;padding: 12px 30px;display: inline-block;line-height: 20px; background:#F3743F;}
.orange_btn:hover{ background:#F15B1B; opacity:1; color:#fff;}

.post_job{ background-color:; min-height:270px; background:url(../images/map.png) #313131; padding:45px 0 35px 0;}
.min_line{ border-bottom: 1px solid #b6b6b6;width: 30%;margin: auto;margin-top: -15px; margin-bottom:10px;}

.post_job ul{ margin-top:35px; padding:0;text-align: center; height: 70px !important;}
.post_job li{ list-style: none;margin: 0 11px 13px 0;display: inline-block; }
.post_job ul li a img{ width:102px;}
	
.footer_link_title{ color:#313131; font-size:18px; font-family:open_sansbold; margin-bottom:15px; text-transform:uppercase;}
.footer_link_wrapper{ margin:45px 0 0 0;border-top: 3px solid rgb(201, 195, 195);padding-top: 30px;padding-bottom: 30px; background: rgb(237, 237, 237) none repeat scroll 0% 0%;}
.footer_link_wrapper ul{ padding:0;} 
.footer_link_wrapper ul li{ list-style-image: url(../images/icon.png);list-style-position: inside;margin-bottom: 5px;}
.footer_link_wrapper ul li a{ color:#737373;}	
.footer_link_wrapper ul li a:hover{ color:#0188CC; opacity:1;}	

.bottom_footer{ background:#1F1F1F; padding:30px 0; text-align:center; font-size:11px; }
.pipe{ margin: 0 5px;display: inline-block;position: relative;top: -1px;} 

.dropdown-menu li{ border-bottom:1px solid #EFEFEF;}

.caret img{ width:12px}


/*parallax*/

section.module:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 410px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body section.module.parallax-2 {background-image: url(../images/welcome.jpg) #231B18 !important;}
.local_job{ background: url(../images/bg1.jpg) #1E1A19 !important;width: 100%;min-height: 260px;}
.company_directory{ background: url(../images/company-directory.jpg) #1E1A19 !important ;width: 100%;min-height: 260px;}
.blog{ background: url(../images/simply-hired-Blog.jpg) #1E1A19 !important; width: 100%;min-height: 260px;}
.sucess_story{background: url(../images/success-stories.jpg) #1E1A19 !important;width: 100%;min-height: 260px;}

.navbar-collapse{ }


#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.adv{ text-align:right; margin-top:5px;}
.adv a{ color:#fff; font-size:12px; }
.op{ position:relative; background:url(../images/op.png);}
.progress-label span{ font-size:12px;}
.listing_blocks_main .blue_btn {
    
    border: 0;
    padding: 10px 30px;
    color: #FFFFFF;
    margin-top: -1px;
    width: 100%;
    display: block;
    text-align: center;
}
.main_adv_wrapper{     position: absolute;
    width: 700px;
    height: auto;
    z-index: 1011;
    top: 10%;
    left: 50%;
    background: #fff;
    margin-left: -350px;}
.main_advancedtitle{     background: #515050;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
    }
.adv_form{ width:70%; margin:auto; padding-bottom:15px;}	
.bg_black{ background: rgba(0, 0, 0, 0.51);
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%; z-index:99}	
.select_title{ color: #666; font-size:11.5px; text-align:right; padding-top: 13px;     padding-left: 0;}	
.select_advance select{padding: 10px 5px ; color: #666; border: 1px solid #dedede; font-size:12px; width:100%; }
.select_advance input{padding: 10px 5px ; color: #666; border: 1px solid #dedede; font-size:12px; width:100%; }

.btm{ margin-bottom:12px;}
.select_advance .blue_btn{ margin-top:0px; color:#fff; }
.select_advance .blue_btn:hover{transition: all 0.3s ease 0s;  opacity: 0.75;}
.close{ padding:13px; background:url(../images/cross.png) no-repeat; opacity:1;}
.owl-item .provider li{ list-style: none;border-bottom: 1px solid #E9E9E9; border-right: 1px solid #E9E9E9; padding:8px 11px;}
.owl-item .provider li:last-child{ border-bottom:0;}
.owl-stage .owl-item:last-child ul li{ box-shadow:none;} 
.owl-item .provider li a img{ width: 90px;height: 50px;} 
.owl-item .item{ margin-left:-1px;}

.employee_job{ margin: 0px 0 10px;padding: 40px 0 30px;box-shadow: -1px 0px 8px #E6E6E6;border-top: 1px solid #E2E1E1;border-bottom: 1px solid #E2E1E1; background: #ffffff;}
.main_title .hundreds_txt{font-family: OpenSansRegular;font-size: 15px;color: #313131;text-align: center;width: 320px;padding-top: 9px;margin: auto;margin-top: 5px;}
.main_title.spcl_style{ font-size:27px; text-align:center;}
.text_center_align{ text-align:center;}
	
#elapsed{ display:none;}
#topcontrol{ background:#0188CC;}

.item .provider{ margin-left:0; padding-left:0;}
 #owl_carousel_home .owl-dot{ display:none;}
 
/* .owl-carousel .owl-item{border-left: 1px solid #E9E9E9;}
.owl-stage{border-left: 1px solid #E9E9E9;}*/
.owl-item.active{ margin-right:-0.2px !important;}

.search_h{ display:block; margin-bottom: 10px;}
.block2 .panel{ background: none; border: 0;border-top: 1px solid #6D6C6C; border-radius: 0;     box-shadow: none;}
.block2 .panel-default > .panel-heading {
    color: #333;
    background: none !important;
    border-color: #ddd; padding: 0; padding-top: 14px;
}
.block2 .fa.fa-star{ color:#C6C6C6;}
.panel-title{ font-size: 14px; color:#C6C6C6; }

.how_it_works{margin-top: -45px;}


.how_it_works{ background:#F6F6F6; position:relative; padding:40px 0 35px 0; }
.how_it_works .col-md-4{ text-align:center; z-index: 555; margin-bottom:15px;}
.hiw_title{ background: #414143;width: 115px;font-size: 14px;padding: 4px 7px;font-family: open_sansbold;text-transform: uppercase;text-align: center;margin: auto;margin-bottom: 25px;margin-top: 15px;}
.hiw_content{color:#7e7e7e; font-size:14.5px; width:90%; margin:auto;} 
.image_align{ text-align:center;}
.image_align img{ position: absolute;top: 134px;margin: auto;left: 50%;margin-left: -353px;}
.hidden-mobile{ display:none;}

.signup .input_form.select_cat{background: url(../images/downarrow.png) no-repeat rgba(255, 255, 255, 0.87);background-position: center right; background-origin: content-box; text-align:left; color:#A9A9AA; margin-bottom:0;}
.select_class_ul li{ list-style:none; }
.select_class_ul{padding-left: 10px;margin-top: 5px;}
.select_class_ul li label{ font-weight: normal;font-size: 13px;margin-bottom: 0;color: #7C7C7C;}
.select_class_ul li label input{ position: relative;top: 3px;margin-right: 3px;}
#div_categories{ overflow-x: hidden !important;width: 100%;}
.category_wrap{ position:relative;} 
.navbar-collapse{padding-left: 0;}
.nav.navbar-nav li:first-child a{ padding-left:16px;}

/*popup*/
.myOverlay1 {width:600px;height:400px;}.myOverlay2 {width:50%;height:50%;}
.cap_block .cap_img{ border: 1px solid #dedede; display:inline-block; }
.cap_block a{ display:inline-block; }
.cap_block.select_advance input{ display:inline-block; width:87px; }
#NAREG ul{ background:none; border:0;}
#NAREG .ui-state-active, #NAREG .ui-widget-content .ui-state-active, #NAREG .ui-widget-header .ui-state-active{ border:1px solid #dedede!important; border-radius:0 !important;}
#NAREG.ui-state-default, #NAREG .ui-widget-content .ui-state-default, #NAREG .ui-widget-header .ui-state-default{ border:1px solid #dedede!important; border-radius:0 !important;     padding-bottom: 0px;     background: none;}
#NAREG .ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left;padding: .5em 1em;text-decoration: none;width: 100% !important;}	
#overlayFrame{ height: auto !important;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{ width: 100%;text-align: center;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{ background:#DFDFDF;} 
body .error{ font-size:11px; color:#F00; line-height:15px !important;}
.txt_n{ color: #6A6666;font-size: 11px;}
.notes {color: #1A98D3;font-size: 12px;}
.mrgt10{ top: -10px;position: relative;}
.full-width{ width: 100%;display: block;text-align: center;}



  .marg_top10 a{ padding:10px 0px;}
  
  .services{float: left; margin-top:5px;}
  #subscriber_form .white_btn{ width:100%;}
  .welcome{ position:relative; }
  .welcome:hover{ cursor:pointer;}
.welcome i{ color: #1A98D3;padding: 4px 0 4px 5px;border-radius: 15px;font-size: 15px;position: relative;top: 1px; }
 .welcome ul{ border: 1px solid #CECECE; border-bottom:0; margin-left: 0;padding-left: 0;box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.36);position: absolute;background: #FFF;width: 145px;right: 0; display:none; z-index: 5555;}
  
   .welcome ul li{ border-bottom: 1px solid #CECECE;margin-left: 0;list-style: none;  }
   .welcome ul li a{ padding: 5px 10px;display: block;font-size: 12px;color: #636363;}
   .user_m{color:#1A98D3; }
   
@media (max-width: 767px) 
{
  hgroup h1 { margin-top: 25px;}
  hgroup h2 { top: 0; left: 5px; font-size:12px;}
  .btn { width: 80%; margin: 20px auto; float:none;}
}

.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
    border: 1px solid #E9E9E9;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
}
.nav-stacked > li + li a{
	margin-right:0;
}
.right_ad_wrapper ul{ margin-left:0; padding-left:0;}
.span4_style {
    background-color: #EBEBEB;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: -19px;
    min-width: 289px;
}
.span4_style {
    width: 31.623931623931625%; float:left; background-color: #EBEBEB;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 0.5%;
    min-width: 286px;
    margin-bottom: 4px;
}	
.ne_title {
    background: url("../images/images/newspaper_icon1.png") no-repeat right top !important;
    float: right;
    height: 16px;
    width: 18px;
}.fe_title {
    background: url("../images/images/featured_icon1.png") no-repeat right top !important;
    float: right;
    height: 16px;
    width: 18px;
}


.span4.span4_style p{ padding:3px 0;}

.footer_wrapper_inner{ border-top: 1px solid #DDDDDD;padding: 45px 0;background: #F7F7F7;margin: 0;}
#search_keyword{ margin-left:0 !important;}
.search_form_menu select{ width:100% !important; background:#fff !important;}
select{ background:#fff !important; border-radius:0 !important;}

table.dataTable td {
    padding: 3px 10px 3px 10px;
}

.employee_job .owl-stage-outer{box-shadow:-1px 0px 0px #E9E9E9;}
.inner_getmore .listing_blocks li {height: 145px;font-size: 12px;}
.inner_getmore .blue_btn{ width: 100%;display: block;text-align: center;margin-top: 0;margin-bottom: 20px;font-size: 14px;padding: 8px;}
.inner_getmore .listing_blocks_title {font-size: 14px;}
.inner_getmore .listing_blocks_title {font-size: 14px;margin-bottom: -40px;}
.inner_getmore .listing_blocks li a {font-family: open_sansbold;display: block;margin-bottom: 10px;color: #666666;font-size: 13px;font-weight: bold;}
.ads_slide{ margin-top:20px;}

.page_container_large .page_container_inner{ margin-top: -57px;}
.home_tab { background:#F1F0F0 !important;}

.block.spcl_blocks_1 .title{ margin-bottom:0 !important; padding: 7px 7px !important;}
.right_sidebar .nav > li > a {position: relative;display: block;padding: 8px 20px;}
.right_sidebar .thumbnail {margin-bottom: 5px;}

.section_inner{    height: 350px;}

